%h1 Edit Todo
%form#edit-todo{:action => "/todo/"}
= @todo.id
" method="post"&gt;
%input{:name => "_method", :type => "hidden", :value => "put"}/
%p
  %label{:for => "title"} Title
  %br
    %input{:name => "title", :type => "text", :value => ""}/
    = @todo.title
    "&gt;
  %p
    %label{:for => "body"} Body
    %br
      %input{:name => "body", :type => "text", :value => ""}/
      = @todo.body
      "&gt;
    %p
      %input#pending{:name => "status", :type => "radio", :value => "Pending"}/
      = 'checked' if @todo.status == 'Pending'
      \&gt; Pending
      %br
        %input#done{:name => "status", :type => "radio", :value => "Done"}/
        = 'checked' if @todo.status == 'Done'
        \&gt; Done
        %br
        %button{:type => "submit"} Update
